<!DOCTYPE html>
<html>
  <head>
    <title>Ibrahim Hassan</title>
  </head>
  <body>
    <h1>Ibrahim Hassan</h1>
   <img src="https://89b2a67e-9af0-43d2-8431-0ecbf1faf551-00-7ftqeijcibll.riker.replit.dev/static/bannar.jpg"  alt="bannar" border="0" height="320">
    <h2>About Me</h2>
    <p>
      Using our text generator to create fancy text is really easy. All you have to do is paste your text into the text box at the top, scroll to find the style of text that you like, and click “Copy.” Then you can post the fancy font on your favorite social media platforms, such as Facebook, Twitter, or Instagram, or even text messages. Easily copy and paste fancy fonts.
    </p>  
  </body>
</html>