<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
       rel="stylesheet"
       href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
       integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
       crossorigin="anonymous"
    />
    <link
       rel="stylesheet"
       href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
       crossorigin="anonymous"
    />
    <title>Ibrahim Hassan</title>
    <style>
      #bannar{
        height:360px;
        object-fit:cover;
        width:100%;
      }
    </style>
  </head>
  <body class="bg-dark">
    <div class="container bg-dark text-white"">
      <h1 class="text-center  m-0 p-0 mt-5 mb-5 bg-secondary pt-3 pb-3 ps-0 pe-0 ms-0 me-0 w-100">Ibrahim Hassan</h1>
       <img  src="https://89b2a67e-9af0-43d2-8431-0ecbf1faf551-00-7ftqeijcibll.riker.replit.dev/static/bannar.jpg" id="bannar" alt="bannar" border="0" class="img-fluid">
        <h2 class="text-center mt-2 mb-4">About Me</h2>
        <p class="lead text-justify">
          Using our text generator to create fancy text is really easy. All you have to do is paste your text into the text box at the top, scroll to find the style of text that you like, and click “Copy.” Then you can post the fancy font on your favorite social media platforms, such as Facebook, Twitter, or Instagram, or even text messages. Easily copy and paste fancy, elegant fonts.
        </p>  
        <h2 class="text-center mt-2 mb-4">Open Positions</h2>
        <p>ToDo:add jobs here</p>
        <div class="text-center">
          <button class="btn btn-outline-primary btn-lg">Contact Us</button>
          <p class="m-0 p-0 mt-5 mb-5 bg-secondary pt-3 pb-3 ps-0 pe-0 ms-0 me-0 w-100">Copyright 2023, Ibrahim Hassan</p>
    
    </div>
    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
    ></script>
  </body>
</html>